@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.right-links, .left-links {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

li * {
  text-decoration: none; 
}

ul {
  list-style: none;
  margin: 0;
  padding: 15px;
}

ul a {
  text-decoration: none;
  color: black;
}

.footer, .header {
  display: flex;
  flex: 1;
}

.right-links {
  display: flex;
  justify-content: flex-end;
}


.left-links {
  display: flex;
  align-items: flex-start;

}

.footer {
  background-color: #eeeeee;
}

button {
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  align-self: stretch;
  flex-basis: 80vh;
}